@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.navbar {
  opacity: 0.85;
  background: black;
}
.navbar .imagenLogo {
  width: 100px;
}
.navbar .nav-link {
  font-family: monospace;
  border-radius: 15px;
}
.navbar .nav-link:hover {
  background: rgba(65, 231, 236, 0.703);
  border-radius: 15px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(239, 227, 227, 0)), url(../Imagenes/fiesta.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.main .inicio__bienvenidos {
  font-family: fantasy;
  color: rgb(221, 221, 221);
  font-style: initial;
  text-align: center;
  font-size: 10vw;
  margin-top: 200px;
  margin-bottom: 0px;
}
.main .parrafo {
  font-size: 20px;
  text-align: center;
}



.segundo__inicio {
  margin: 20px 20px 20px 20px;
  background-color: rgb(0, 0, 0);
}
.segundo__inicio h1 {
  color: rgba(181, 255, 249, 0.916);
  font-family: fantasy;
  text-align: center;
  font-size: 10vw;
  text-decoration: underline;
  margin-bottom: 50px;
  margin-top: 150px;
}
.segundo__inicio .card {
  margin-top: 50px;
  border: none;
}
.segundo__inicio .card img {
  height: 270px;
}
.segundo__inicio .card img:hover {
  opacity: 0.95;
}
.segundo__inicio .card .card-body {
  text-align: center;
  background-color: black;
}
.segundo__inicio .card h3 {
  color: white;
  text-align: center;
  font-size: 23px;
}
.segundo__inicio .card p {
  color: white;
  border: 20px;
  justify-content: space-evenly;
}
.segundo__inicio .card .parrafo_pequeño {
  justify-content: center;
}
.segundo__inicio .card a {
  color: rgb(12, 241, 165);
}

/*PAGINA EVENTOS*/
.eventos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(239, 227, 227, 0)), url(../Imagenes/imagenevento.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.eventos h1 {
  font-family: fantasy;
  color: rgb(252, 249, 249);
  font-style: initial;
  text-align: center;
  font-size: 5vh;
  margin-top: 160px;
  margin-bottom: 0px;
}
.eventos p {
  height: 100px;
  margin-bottom: 300px;
  font-size: 20px;
  padding: 50px;
  text-align: center;
}

.segundo_evento h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(239, 239, 239);
  text-decoration: underline;
  text-align: center;
  font-size: 100%;
  margin-top: 30px;
}
.segundo_evento .gallery_eventos {
  margin: 20px;
}
.segundo_evento .gallery_eventos .image_eventos {
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}
.segundo_evento .gallery_eventos .image_eventos .imagenEvento {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
.segundo_evento .gallery_eventos .image_eventos h1 {
  text-align: center;
  font-size: 100%;
  color: white;
  margin: auto;
}
.segundo_evento .gallery_eventos .image_eventos p {
  text-align: center;
  margin: 40px;
  color: rgb(248, 248, 248);
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.segundo_evento .gallery_eventos .image_eventos a {
  text-decoration: none;
  padding: 5px;
  color: rgba(49, 145, 180, 0.788);
}
.segundo_evento .gallery_eventos .image_eventos a:hover {
  margin: 20px;
  border-radius: 30px;
  background-color: rgb(0, 247, 255);
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.957);
}

/*PAGINA VIDEOS*/


/* PAGINA DE LANZAMIENTOS*/
.lanzamientos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(239, 227, 227, 0)), url(../Imagenes/SONAR.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.lanzamientos h1 {
  font-family: fantasy;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  margin-top: 150px;
  margin-bottom: 120px;
}
.lanzamientos .image_lanzamiento img {
  padding: auto;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
.lanzamientos .image_lanzamiento h1 {
  font-size: 20px;
  color: rgb(96, 12, 12);
}
.lanzamientos .image_lanzamiento p {
  margin: 20px;
  text-align: center;
  font-size: 20% px;
}
.lanzamientos .image_lanzamiento .center {
  text-align: center;
}
.lanzamientos .image_lanzamiento .escuchalo {
  color: rgb(255, 255, 255);
  text-align: center;
}
.lanzamientos .image_lanzamiento .escuchalo:hover {
  background-color: rgba(0, 255, 255, 0.425);
  color: black;
  border-radius: 25px;
  padding: 2px;
}

/*FOOTER PAGINA DE PIE*/
.footer {
  background-color: #322f2f;
  color: #cccccc;
  padding: 30px 0;
  text-align: center;
}
.footer .footer-content {
  margin-top: 10px;
  margin-bottom: 12px;
}
.footer .footer-section {
  width: 100%;
  display: block;
  padding: 20px, 20px;
}
.footer .footer-section h3 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.footer .footer-section p {
  margin: 10px;
  font-size: 20px;
}
.footer .footer-section a {
  margin: 10px;
  font-size: 20px;
}
.footer .footer-bottom {
  font-size: 15px;
  text-align: center;
  padding-top: 25px;
  border-top: 3px solid #777;
}

/*# sourceMappingURL=style.css.map */
