@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.navbar {
  opacity: 0.9;
  background: rgb(204, 197, 197);
  /*LOGO DE PAGINA*/
}
.navbar .nav-link {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(0, 0, 0);
}
.navbar .nav-link:hover {
  color: orange;
}
.navbar .imagenLogo {
  border-radius: 5px;
  margin-left: 20px;
  width: 130px;
  animation-duration: 3s;
  animation-name: logo;
  animation-iteration-count: infinite;
}

.primer__inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(239, 227, 227, 0)), url(../Imagenes/fiesta.jpg);
  margin-top: 94px;
  background-repeat: no-repeat;
  background-position: center;
}
.primer__inicio .inicio__bienvenidos {
  text-shadow: 5px 5px 2px black;
  font-family: fantasy;
  color: rgb(221, 219, 219);
  font-style: initial;
  text-align: center;
  font-size: 10vw;
  margin-top: 150px;
}
.primer__inicio .parrafo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 1.2em;
  text-align: center;
}
.primer__inicio .btn {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(103, 98, 98);
  color: rgba(0, 0, 0, 0.701);
  margin-top: 30px;
  height: 25px;
  padding: 0 20px 0 20px;
  border-radius: 8px;
  font-size: 15px;
}
.primer__inicio .btn:hover {
  opacity: 0.7;
  background: rgb(253, 250, 250);
  color: black;
}

/*ARTISTAS DESTACADOS INICIO*/
.segundo__inicio {
  margin: 20px 20px 20px 20px;
}
.segundo__inicio h2 {
  color: rgba(45, 85, 85, 0.916);
  font-family: fantasy;
  text-align: center;
  font-size: 10vw;
  text-decoration: underline;
  margin-bottom: 50px;
  margin-top: 150px;
}
.segundo__inicio .card {
  margin-top: 70px;
  border: none;
}
.segundo__inicio .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.segundo__inicio .card .card-body {
  text-align: center;
  background-color: black;
}
.segundo__inicio .card .card-body h3 {
  color: white;
  text-align: center;
  font-size: 20px;
}
.segundo__inicio .card .card-body .card-text {
  padding: 20px;
  color: rgb(250, 250, 250);
  border: 20px;
  justify-content: space-evenly;
}
.segundo__inicio .card a {
  color: aquamarine;
}

.eventos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(239, 227, 227, 0)), url(../Imagenes/imagenevento.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 94px;
}
.eventos h1 {
  text-shadow: 3px 3px 4px black;
  font-family: fantasy;
  color: rgb(174, 194, 193);
  font-style: initial;
  text-align: center;
  font-size: 7.5vw;
  margin-top: 200px;
}
.eventos p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 200px;
  font-size: 2.3vw;
  padding: 30px;
  text-align: center;
}

.segundo__evento {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}
.segundo__evento h2 {
  text-shadow: 1px 2px 1px rgba(20, 18, 18, 0.733);
  font-family: fantasy;
  color: rgb(145, 137, 137);
  text-decoration: underline;
  text-align: center;
  font-size: 8vw;
  margin-top: 0px;
  margin-bottom: 100px;
}
.segundo__evento .noticia {
  display: flex;
  margin-bottom: 50px;
}
.segundo__evento .noticia .imagen {
  flex: 0 0 40%;
  margin-right: 20px;
}
.segundo__evento .noticia .imagen img {
  width: 100%; /* Imagen ocupa todo el ancho de su contenedor */
  height: 300px; /* Altura automática */
  border-radius: 30px;
}
.segundo__evento .noticia .contenido {
  flex: 1;
  padding: 20px 20px;
  margin-top: 0px;
  margin-bottom: 0px; /* El contenido ocupa todo el espacio restante */
}
.segundo__evento .noticia .contenido h3 {
  margin-top: 2px;
  color: rgb(253, 250, 250);
  font-size: 2.8vw; /* Tamaño del título */
  text-align: center;
}
.segundo__evento .noticia .contenido p {
  color: rgb(254, 255, 255);
  font-size: 2.2vh;
  text-align: center;
  line-height: 1.2; /* Espaciado entre líneas del párrafo */
}
.segundo__evento .noticia .contenido .link__evento {
  font-size: 15px;
  padding: 5px;
  position: relative;
  left: 40%;
  background-color: #ddd;
  border-radius: 25px;
  color: #000000;
  text-decoration: none;
  animation-duration: 3s;
  animation-name: linkEvento;
  animation-iteration-count: infinite;
}
.segundo__evento .noticia .contenido .link__evento:hover {
  border-radius: 20px;
  background-color: rgb(24, 23, 22);
  color: #195f64;
}
@keyframes linkEvento {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 2;
  }
  100% {
    opacity: 0.3;
  }
}

.nuevos-eventos {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}
.nuevos-eventos .evento {
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd; /* Línea divisoria entre eventos */
}
.nuevos-eventos .evento h4 {
  text-decoration: underline;
  font-family: monospace;
  color: white;
  font-size: 2rem;
  text-align: center;
}
.nuevos-eventos .evento p {
  font-size: 0.9rem;
  line-height: 1.1;
}
.nuevos-eventos .evento .fecha {
  float: right;
  font-style: italic;
  color: #eceaea;
}

/* Media query para hacer responsive */
@media (max-width: 768px) {
  .segundo__evento .noticia {
    flex-direction: column;
  }
  .segundo__evento .noticia .imagen {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .segundo__evento .noticia .contenido {
    margin-bottom: 0px;
    text-align: center;
  }
  .segundo__evento .noticia .contenido .link__evento {
    position: absolute;
    right: 33%;
    color: #195f64;
    text-decoration: none;
  }
  .segundo__evento .noticia .contenido .link__evento:hover {
    border-radius: 20px;
    background-color: rgb(24, 23, 22);
    color: #195f64;
  }
  .evento {
    margin-bottom: 70px;
  }
  .evento h4 {
    font-size: 1.2rem;
  }
  .evento p {
    font-size: 0.9rem;
    color: rgb(241, 241, 241);
  }
  .evento .fecha {
    text-align: right;
    margin-top: 5px;
  }
}
.main__video {
  text-align: justify;
  margin-top: 250px;
}
.main__video h1 {
  text-shadow: 1px 1px 4px white;
  text-align: center;
  font-size: 10vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: underline rgb(184, 192, 192);
  color: rgb(153, 180, 171);
}
.main__video h2 {
  margin-bottom: 180px;
  text-align: center;
  font-size: 3vw;
  font-family: monospace;
  color: rgb(245, 243, 243);
}
.main__video .galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin: 20px;
}
.main__video .galeria .imagen {
  text-align: center;
}
.main__video .galeria .imagen img {
  border-radius: 5px;
  max-width: 100%;
  height: 250px;
}
.main__video .galeria .imagen p {
  border-radius: 30px;
  background-color: rgba(52, 132, 185, 0.233);
  color: rgb(0, 238, 255);
  margin-top: 10px;
  font-size: 1.5rem;
}
.main__video .galeria .imagen p:hover {
  background: rgb(212, 142, 12);
  color: black;
}
.main__video .galeria .imagen a {
  text-decoration: none;
}

.lanzamientos {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  background-size: 20%;
  margin-top: 94px;
}
.lanzamientos h1 {
  text-shadow: 3px 4px 2px rgb(42, 90, 92);
  font-family: fantasy;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
  font-size: 9vw;
  margin-top: 150px;
  margin-bottom: 200px;
}
.lanzamientos .gallery_lanzamiento {
  padding: 50px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.lanzamientos .gallery_lanzamiento img {
  height: 100%;
  width: 100%;
  border-radius: 40px;
}
.lanzamientos .gallery_lanzamiento h2 {
  text-shadow: 3px 2px 2px black;
  margin: 20px 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  color: rgb(226, 223, 223);
  font-size: 4vh;
}
.lanzamientos .gallery_lanzamiento p {
  text-shadow: 2px 2px rgb(0, 0, 0);
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: rgb(247, 247, 247);
  font-size: 3vh;
}
.lanzamientos .gallery_lanzamiento .center {
  text-align: center;
  margin-bottom: 50px;
}
.lanzamientos .gallery_lanzamiento .center .escuchalo {
  background-color: rgb(48, 47, 47);
  color: rgb(0, 238, 255);
  text-decoration: none;
  padding: 10px;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  animation-duration: 3s;
  animation-name: escuchalo;
  animation-iteration-count: infinite;
}
.lanzamientos .gallery_lanzamiento .center .escuchalo:hover {
  background: hsla(0, 4%, 27%, 0.562);
  color: rgb(0, 238, 255);
}
@keyframes escuchalo {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 2;
  }
  100% {
    opacity: 0.3;
  }
}

.container {
  margin-top: 150px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 20px;
  gap: 10px;
  width: 1000px;
}
.container .box-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container .box-info h1 {
  text-align: left;
  letter-spacing: 5px;
}
.container .box-info .data {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container .box-info p {
  text-align: justify;
  font-size: 1rem;
}
.container .box-info p i {
  color: rgb(0, 238, 255);
  margin-right: 10px;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
form .input-box {
  position: relative;
}
form .input-box input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #b6afaf;
}
form .input-box input::placeholder,
form .input-box textarea::placeholder {
  color: rgb(0, 238, 255);
}
form .input-box input:focus::placeholder,
form .input-box textarea:focus::placeholder {
  color: transparent;
}
form .input-box input:focus,
form .input-box textarea:focus {
  border-bottom: 3px solid rgb(0, 238, 255);
  animation: shake 0.2s;
}
form .input-box textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 2px;
  outline: none;
  transition: 0.3s;
  color: #fff;
  letter-spacing: 1.5px;
}
form .input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}
form .input-box input:focus ~ i {
  color: rgb(0, 0, 0);
}
form button {
  width: 100%;
  padding: 10px;
  outline: none;
  background: rgb(0, 238, 255);
  color: #000000;
  border: none;
  transition: 0.1s;
  cursor: pointer;
  font-size: 1rem;
}
form button:hover, form button .links > a:hover {
  background: rgb(165, 163, 163);
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .box-info {
    gap: 15px;
  }
  .box-info > h1 {
    font-size: 1.5rem;
  }
}
.footer {
  background-color: #322f2f;
  color: #cccccc;
  padding: 30px 0;
  text-align: center;
  border-top: 2px solid #ddd;
}
.footer .footer-content {
  margin-bottom: 20px;
}
.footer .footer-content a {
  font-size: 25px;
}
.footer .footer-content .footer-section {
  display: inline;
  width: 40%;
  padding: 20px, 20px;
  box-sizing: border-box;
}
.footer .footer-content .footer-section h2 {
  font-size: 40px;
}
.footer .footer-content .footer-section p {
  margin: 30px;
  font-size: 25px;
}
.footer .footer-content .footer-section i {
  font-size: 35px;
  color: rgb(255, 252, 252);
  padding: 5px;
  transition: all 1s;
}
.footer .footer-content .footer-section i:hover {
  transform: scale(1.5);
}
.footer .footer-derechos {
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid #f3eded;
}

/* Estilos generales */
.errorUno {
  font-family: Arial, sans-serif;
  text-align: center;
  background: black;
  margin: 0;
  padding: 0;
}

.error {
  max-width: 600px;
  margin: 200px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgb(32, 146, 118);
}
.error h4 {
  color: rgb(0, 0, 0);
  font-size: 36px;
  margin-bottom: 20px;
}
.error p {
  font-size: 18px;
  margin-bottom: 20px;
}
.error a {
  color: #2782dd;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
