.footer {
    background-color: #322f2f;
    color: #cccccc;
    padding: 30px 0;
    text-align: center;
    .footer-content{
        margin-bottom: 20px;
        a{
            font-size: 25px;
        }
        .footer-section {
            display: inline;
            width: 40%;
            padding: 20px, 20px;
            box-sizing: border-box;
            h3 {
                font-size: 20px;
            }
            p{
                margin: 20px;
                font-size: 15px;
            }
            i{  
                color: black;
                padding: 5px;
                transition: all 1s;
                &:hover{
                    transform: scale(1.5);
                }         
            }
              
            
        }
    }
    .footer-bottom {
        font-size: 15px;
        text-align: center;
        padding-top: 20px;
        border-top: 2px solid #777;
    }
}

