.navbar{
    opacity: .85;
    background: black;

.nav-link{
    font-family:monospace;
    border-radius: 15px;
}
.nav-link:hover{
    background: rgba(65, 67, 71, 0.703);
    border-radius: 15px;
}
/*LOGO DE PAGINA*/
.imagenLogo{
    width: 100px;
}}