.navbar{
    opacity: 0.9;
    background: rgb(204, 197, 197);
.nav-link{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
    &:hover{
        color: orange;
    }
}
/*LOGO DE PAGINA*/
.imagenLogo{
    border-radius: 5px;
    margin-left: 20px;
    width: 130px;
    animation-duration: 3s;
    animation-name: logo;
    animation-iteration-count: infinite;
}
}