.navbar{
    opacity: .85;
    background: black;

.nav-link{
    font-family:monospace;
    border-radius: 15px;
}
.nav-link:hover{
    background: rgba(65, 67, 71, 0.703);
    border-radius: 15px;
}
/*LOGO DE PAGINA*/
.imagenLogo{
    width: 100px;
    animation-duration: 3s;
    animation-name: logo;
    animation-iteration-count: infinite;
}
@keyframes logo{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
}