.main__video{
    text-align: justify;
    margin-top: 250px;
      h1{
          text-shadow: 1px 1px 4px white;
          text-align: center;
          font-size: 10vw;
          font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          text-decoration: underline rgb(184, 192, 192);
          color: rgb(153, 180, 171);
        }
      h2{
        margin-bottom: 180px;
        text-align:center;
        font-size: 3vw;
        font-family:monospace;
        color: rgb(245, 243, 243);
        }
  .galeria {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 25px;
      margin: 20px;
        .imagen {
          text-align: center;
            img {
              border-radius: 5px;
              max-width: 100%;
              height: 250px;
            }
            p{
              border-radius: 30px;
              background-color: rgba(52, 132, 185, 0.233);
              color: $coloruno;
              margin-top: 10px;
              font-size: 1.5rem;    
                &:hover{
                  background: rgb(212, 142, 12);
                  color: black;
                } 
            }
            a{
              text-decoration: none;              
            }
          }
      }
}